h1 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/*Размер иконок*/
.icon-size {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

table.v-table thead th {
  white-space: initial;
}

/*Уменьшение отступа между элементами в таблице*/
.v-card table.v-datatable tbody td:not(:nth-child(1)) {
  padding: 0 8px;
}

/*Не добавлять margin к 1-ому изображению (где кнопки скачать/открыть)*/
table.v-table td a:first-child img {
  margin-left: 0;
}

.v-content .v-content__wrap {
  /* max-width: 1150px; */
  margin-left: auto;
  margin-right: auto;
}

/*возможность переноса слов в заголовке на новую строку*/
table.v-datatable.v-table thead th {
  white-space: initial;
  text-align: center !important;
}

/*sveden styles*/
.elevation-1 {
  max-width: 1100px;
  margin: auto;
}

.v-table.v-datatable tbody tr td {
  font-size: 14px;
}

.elevation-1 .v-datatable thead tr th {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

@media (-webkit-min-device-pixel-ratio: 2.1),
only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .application--wrap h1 {
    font-size: 1.5em;
  }

  .application--wrap h3 {
    font-size: 1.25em !important;
  }

  .v-table.v-datatable tbody tr td {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

.v-list__group__items {
  position: relative;
  padding: 0;
  transition: inherit;
  padding-bottom: 20px !important;
}
